<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.masterdata.core.mapper.EmployeeMapper">

	<insert id="inertEmployee" parameterType="com.accenture.masterdata.core.inEntity.EmployeeIn">
    	insert into t_employee (
	    	name, 
	    	eId, 
	    	email,
	      	organizationId, 
	    	<if test="userId != null and userId != ''">
	      	userId, 
	      	</if>
			<if test="cardNo != null and cardNo != ''">
	      	cardNo,
			</if>
			<if test="sex != null and sex != ''">
	      	sex,
			</if>
			<if test="address != null and address != ''">
	      	address,
			</if>
			<if test="tel != null and tel != ''">
	      	tel,
			</if>
			<if test="comment != null and comment != ''">
	      	comment,
			</if>
			<if test="creatorUserId != null and creatorUserId != ''">
	      	creatorUserId,
			</if>
	      	creationTime,
			tenantId
    	) values (
	    	#{name}, 
	    	#{eId}, 
	    	#{email},
	      	#{organizationId}, 
	    	<if test="userId != null and userId != ''">
	      	#{userId}, 
	      	</if>
			<if test="cardNo != null and cardNo != ''">
	      	#{cardNo},
			</if>
			<if test="sex != null and sex != ''">
	      	#{sex},
			</if>
			<if test="address != null and address != ''">
	      	#{address},
			</if>
			<if test="tel != null and tel != ''">
	      	#{tel},
			</if>
			<if test="comment != null and comment != ''">
	      	#{comment},
			</if>
			<if test="creatorUserId != null and creatorUserId != ''">
	      	#{creatorUserId},
			</if>
	      	now(),
			#{tenantId}    	
      	)
  </insert>
  
  <update id="updateEmployee" parameterType="com.accenture.masterdata.core.inEntity.EmployeeIn">
    update t_employee
    <set>
      <if test="name != null and name != ''">
        name = #{name},
      </if>
      <if test="eId != null and eId != ''">
        eId = #{eId},
      </if>
      <if test="email != null and email != ''">
        email = #{email},
      </if>
      <if test="userId != null and userId != ''">
        userId = #{userId},
      </if>
      <if test="organizationId != null and organizationId != ''">
        organizationId = #{organizationId},
      </if>
      <if test="cardNo != null and cardNo != ''">
        cardNo = #{cardNo},
      </if>
      <if test="sex != null and sex != ''">
        sex = #{sex},
      </if>
      <if test="address != null and address != ''">
        address = #{address},
      </if>
      <if test="tel != null and tel != ''">
        tel = #{tel},
      </if>
      <if test="comment != null and comment != ''">
        comment = #{comment},
      </if>
      <if test="tenantId != null and tenantId != ''">
        tenantId = #{tenantId},
      </if>
      <if test="lastModifierUserId != null and lastModifierUserId != ''">
        lastModifierUserId = #{lastModifierUserId},
      </if>
	  lastModificationTime = now()
    </set>
    where
    	id = #{id}
  </update>
  
  <update id="deleteEmployee">
   update 
       t_employee
   set 
   	   isDeleted = 1,
	   deleterUserId = #{deleterUserId},
	   deletionTime = now()
   where 
	       id = #{id,jdbcType=BIGINT}
	   and tenantId = #{tenantid,jdbcType=BIGINT}
   	   and isDeleted = 0
   </update>
  
  
	<update id="batchDeleteEmployees">
	   update 
	       t_employee
	   set 
	   	   isDeleted = 1,
		   deleterUserId = #{deleterUserId},
		   deletionTime = now()
	    where 
	         tenantId = #{tenantid,jdbcType=BIGINT}
	     and Id in (
	    		<foreach collection ="idList" item="idItem" index= "index" separator =",">
	                	#{idItem}
	             </foreach >
			)
	</update>
  
  <select id="selectEmployeeList" resultType="com.accenture.masterdata.core.outEntity.EmployeeOut">
	SELECT
		ep.id,
		ep.name,
		ep.eId,
		ep.email,
		ep.userId,
		ep.organizationId,
		ep.cardNo,
		ep.sex,
		ep.address,
		ep.tel,
		ep.comment,
		ep.creatorUserId,
		ep.creationTime,
		ep.lastModifierUserId,
		ep.lastModificationTime,
		ep.isDeleted,
		ep.deleterUserId,
		ep.deletionTime,
		ep.tenantId,
		(select GROUP_CONCAT(`name` separator '-') from t_organization where id in (ep.orgLikeCode))
	FROM
	  t_employee ep
	WHERE
		  ep.isDeleted = 0
	  and tenantId = #{tenantid,jdbcType=BIGINT}
		  ${strParm}
  </select>
  
  <select id="selectEmployeeCount" resultType="int">
	SELECT
		count(0) total
	FROM
	  t_employee ep
	WHERE
		ep.isDeleted = 0
	and tenantId = #{tenantid,jdbcType=BIGINT}
		<if test=" strParm != null and strParm != ''">
			${strParm}
		</if>
  </select>
  
  <select id="selectEmployee" resultType="com.accenture.masterdata.core.outEntity.EmployeeOut">
	SELECT
		ep.id,
		ep.name,
		ep.eId,
		ep.email,
		ep.userId,
		ep.organizationId,
		ep.cardNo,
		ep.sex,
		ep.address,
		ep.tel,
		ep.comment,
		ep.creatorUserId,
		ep.creationTime,
		ep.lastModifierUserId,
		ep.lastModificationTime,
		ep.isDeleted,
		ep.deleterUserId,
		ep.deletionTime,
		ep.tenantId,
		(select GROUP_CONCAT(`name` separator '-') from t_organization where id in (ep.orgLikeCode))
	FROM
	  	t_employee ep
	WHERE 
	 		tenantId = #{tenantid,jdbcType=BIGINT}
		and	ep.id = #{id,jdbcType=BIGINT}
  </select>
  
  
	<select id="checkEmployeeEid" resultType="java.lang.Integer">
		SELECT
			count(0) total
		FROM
			t_employee
		WHERE isDeleted = 0
		  and id != #{id,jdbcType=BIGINT}
		  and tenantId = #{tenantid,jdbcType=BIGINT}
		  and eid = #{level,jdbcType=NVARCHAR}
	</select>
	
	<select id="checkEmployeeName" resultType="java.lang.Integer">
		SELECT
			count(0) total
		FROM
			t_organization_hirerarchy
		WHERE t_employee = 0
		  and id != #{id,jdbcType=BIGINT}
		  and tenantId = #{tenantid,jdbcType=BIGINT}
		  and name = #{name,jdbcType=NVARCHAR}
	</select>
	
	
</mapper>