<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.masterdata.core.mapper.HierarchyPropertiesMapper">
	<insert id="insertProperty" parameterType="java.util.List" >
    	insert into 
	    	t_hirerarchy_property (
	    		hierarchyId, 
	    		name, 
	      		type, 
	      		controlType, 
	      		selectValue, 
	      		mappingCol,
	      		creatorUserId,
	      		tenantId,
	      		creationTime,
	      		isDeleted)
    	values
      		<foreach collection="properties" item="item" index="index" separator="," >  
        		(#{item.hierarchyId},
        	 	#{item.name},
        	 	#{item.type},
        	 	#{item.controlType},
        	 	#{item.selectValue},
        	 	#{item.mappingCol},
        	 	#{item.creatorUserId},
        	 	#{item.tenantId},
        	 	now(),
        	 	0)
    		</foreach> 
	</insert>
    
	<update id="deleteProperty" parameterType="Map">
	   update 
	   	  t_hirerarchy_property
	   set 
	      isDeleted = 1,
	      deleterUserId = #{deleterUserId},
	      deletionTime = now()
	   where 
	      id = #{id}
   	   	  and isDeleted = 0
	</update>
	
	<select id="selectPropertyList" parameterType="com.accenture.masterdata.core.inEntity.HierarchyPropertiesIn" resultType="com.accenture.masterdata.core.outEntity.HierarchyPropertiesOut">
		SELECT
			pr.controlType,
			pr.creationTime,
			pr.creatorUserId,
			pr.deleterUserId,
			pr.deletionTime,
			pr.hierarchyId,
			org.`name` as hierarchyName,
			pr.id,
			pr.isDeleted,
			pr.lastModificationTime,
			pr.lastModifierUserId,
			pr.mappingCol,
			pr.`name`,
			pr.selectValue,
			pr.tenantId,
			pr.type
		FROM
			t_hirerarchy_property pr 
			LEFT JOIN t_organization_hirerarchy org ON pr.hierarchyId = org.id AND org.isDeleted = 0
		WHERE
			pr.isDeleted = 0
			<if test=" controlType != null and controlType != ''">
				and pr.controlType = #{controlType}
			</if>
			<if test=" hierarchyId != null and hierarchyId != ''">
		  	and pr.hierarchyId = #{hierarchyId}
		  	</if>
		  	<if test=" type != null and type != ''">
			and pr.type = #{type}
			</if>
			<if test=" name != null and name != ''">
			and pr.`name` like '%${name}%'
			</if>
			<if test=" mappingCol != null and mappingCol != ''">
		  	and pr.mappingCol = #{mappingCol}
		  	</if>
	</select>
  
	<select id="selectPropertiesCount" parameterType="com.accenture.masterdata.core.inEntity.HierarchyPropertiesIn" resultType="int">
		SELECT
			count(0) total
		FROM
			t_hirerarchy_property pr 
			LEFT JOIN t_organization_hirerarchy org ON pr.hierarchyId = org.id AND org.isDeleted = 0
		WHERE
			pr.isDeleted = 0
			<if test=" controlType != null and controlType != ''">
				and pr.controlType = #{controlType}
			</if>
			<if test=" hierarchyId != null and hierarchyId != ''">
		  	and pr.hierarchyId = #{hierarchyId}
		  	</if>
		  	<if test=" type != null and type != ''">
			and pr.type = #{type}
			</if>
			<if test=" name != null and name != ''">
			and pr.`name` like '%${name}%'
			</if>
			<if test=" mappingCol != null and mappingCol != ''">
		  	and pr.mappingCol = #{mappingCol}
		  	</if>
	</select>
  
</mapper>