<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accenture.masterdata.core.mapper.OrganizationHierarchyMapper">

	<insert id="insertOrganizationHierarchy" parameterType="com.accenture.masterdata.core.outentity.OrganizationHierarchy">
    	insert into t_organization_hirerarchy (
	    	name, 
	    	level,
	    	<if test="icon != null and icon != ''"> 
	    	icon,
	    	</if>
	    	<if test="comments != null and comments != ''"> 
	    	comments,
	    	</if>
	      	allowConcurrently, 
			<if test="creatorUserId != null and creatorUserId != ''">
	      	creatorUserId,
			</if>
	      	creationTime,
			tenantId
    	) values (
	    	#{name}, 
	    	#{level},
	    	<if test="icon != null and icon != ''"> 
	    	#{icon},
	    	</if>
	    	<if test="comments != null and comments != ''"> 
	    	#{comments},
	    	</if>
	    	#{allowConcurrently},
			<if test="creatorUserId != null and creatorUserId != ''">
	      	#{creatorUserId},
			</if>
	      	now(),
			#{tenantId}    	
      	)
  </insert>
  
  	<update id="updateOrganizationHierarchy" parameterType="com.accenture.masterdata.core.outentity.OrganizationHierarchy">
	    update t_organization_hirerarchy
	    <set>
	      <if test="name != null and name != ''">
	        name = #{name},
	      </if>
	      <if test="level != null">
	        level = #{level},
	      </if>
	      <if test="icon != null and icon != ''">
	        icon = #{icon},
	      </if>
	      <if test="comments != null and comments != ''">
	        comments = #{comments},
	      </if>
	      <if test="allowConcurrently != null">
	        allowConcurrently = #{allowConcurrently},
	      </if>
	      <if test="lastModifierUserId != null">
	        lastModifierUserId = #{lastModifierUserId},
	      </if>
		  lastModificationTime = now()
	    </set>
	    where
    		id = #{id}
  	</update>
  
  	<update id="deleteOrganizationHierarchy">
	   update 
	       t_organization_hirerarchy
	   set 
	   	   isDeleted = 1,
		   deleterUserId = #{deleterUserId},
		   deletionTime = now()
	   where 
	   	 id = #{id,jdbcType=BIGINT}
	   	 and isDeleted = 0
   	</update>
   
	<update id="batchDeleteOrganizationHierarchy">
	   update 
	       t_organization_hirerarchy
	   set 
	   	   isDeleted = 1,
		   deleterUserId = #{deleterUserId},
		   deletionTime = now()
	    where 
	   	     id in (
	    		<foreach collection ="idList" item="idItem" index= "index" separator =",">
	                	#{idItem}
	             </foreach >
			)
	</update>
   
	<select id="selectOrganizatioHierarchyieList" resultType="com.accenture.masterdata.core.outentity.OrganizationHierarchy">
		SELECT
			id,
			level,
			name,
			icon,
			allowConcurrently,
			comments,
			creatorUserId,
			creationTime,
			lastModifierUserId,
			lastModificationTime,
			isDeleted,
			deleterUserId,
			deletionTime,
			tenantId
		FROM
			t_organization_hirerarchy
		WHERE 
			  isDeleted = 0
	   	      ${strParm}
	</select>

	<select id="selectOrganizationHierarchy" resultType="com.accenture.masterdata.core.outentity.OrganizationHierarchy">
		SELECT
			id					as id,
			level				as level,
			name				as name,
			icon				as icon,
			allowConcurrently	as allowConcurrently,
			comments			as comments,
			creatorUserId		as creatorUserId,
			'' 					as creatorUserName,
			creationTime		as creationTime,
			lastModifierUserId	as lastModifierUserId,
			'' 						as lastModifierUserName,
			lastModificationTime	as lastModificationTime,
			isDeleted			as isDeleted,
			deleterUserId		as deleterUserId,
			''					as deleterUserName,
			deletionTime		as deletionTime,
			tenantId			as tenantId,
			'' 					as tenantName
		FROM
			t_organization_hirerarchy
		WHERE 
			id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectOrganizationHierarchyCount" resultType="java.lang.Integer">
		SELECT
			count(0) total
		FROM
			t_organization_hirerarchy
		WHERE 
			isDeleted = 0
			${strParm}
	</select>
	
</mapper>